body {
  background: linear-gradient(#95D1CC 50%, transparent 100%);
  font-family: Montserrat;
  line-height: 1.5;
  text-align: center;
  color: black;
  margin: 0;
  display: block;
}

h1 {
  color: #22577E;
  font-weight: 900;
}

h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 1.6rem;
}

img {
  width: 300px;
  max-width: 100%;
  display: block;
  height: auto;
  margin: 10px auto;
  width: 300px;
  justify-content: center;
  border-radius: 5%;
}

.header {
  padding-top: 50px;
}

#img-div {
  padding: 10px;
  margin: 50px;
  ;
}

#img-caption {
  max-width: 280px;
  margin: 30px auto 10px auto;
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.intro {
  max-width: 600px;
  margin: 50px auto 50px auto;
}

hr {
  width: 5%;
  border-color: #F6F2D4;
  border-width: 7px;
  border-style: none;
  border-top-style: dotted;
  margin: 50px auto;
}

.headline {
  margin: 50px 0;
  text-align: center;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 2;
}

.redirect {
  margin: 10px auto 10px auto;
  text-align: center;
  max-width: 800px;
}

footer {
  background: linear-gradient(#F6F2D4 100%, transparent 50%);
  margin: 0;
  padding: 10px;
}
